.App {
  text-align: center;
}

.albumart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  padding: 0.5em;
}

div,
button {
  margin: 10px;
}

pre {
  text-align: center;
}
